<launch>
    <arg name="vis" default="true" />

    <node pkg="intera_interface" type="enable_robot.py" name="enable_robot" args="-e" />
    <node name="encoder" pkg="pendulum_pkg" type="encoder.py">  </node>
    <node name="controller" pkg="pendulum_pkg" type="controller.py">  </node>
    <node name="actuation" pkg="inverted_pendulum" type="actuation.py">  </node>
</launch>